body{
	background-color:blue;
}
h1{
	font-size: 100px;
}
p{
	font-size: 50px;
}
img{
	height: 50%;
	width: 50%;
}
.parte1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.parte2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}